#!/bin/sh

########################################################################
# git
########################################################################

if (( $+commands[hub] ))
then
  alias git=$(which hub)
fi

alias gl='git pull --prune'
alias gp='git push origin HEAD'
alias gd='git diff'
alias gca='git commit -a'
alias gco='git checkout'
alias gcb='git copy-branch-name'
alias gb='git branch'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s -%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gs='git status -sb'
alias ga="git add -A"
alias gc='git commit'
alias gcm='git commit -m'


########################################################################
# zsh
########################################################################

alias -g ...="../.."
alias -g ....="../../.."
alias -g .....="../../../.."
alias -g ......="../../../../.."

alias 1="cd -"
alias 2="cd -2"
alias 3="cd -3"
alias 4="cd -4"
alias 5="cd -5"
alias 6="cd -6"
alias 7="cd -7"
alias 8="cd -8"
alias 9="cd -9"

alias md="mkdir -p"
alias rd="rmdir"
alias d="dirs -v | head -10"
alias pu="pushd"
alias po="popd"

if $(which gls &>/dev/null)
then
  alias ls="gls -AF --color"
  alias l="gls -lAh --color"
  alias ll="gls -l --color"
  alias la="gls -A --color"
  alias lsd="gls -l --color | grep \"^d\""
fi

if $(which gsort &>/dev/null)
then
  alias sort="gsort"
fi

if $(which gdircolors &>/dev/null)
then
  alias dircolors="gdircolors $HOME/.dircolors"
fi

alias man="nocorrect man"
alias mkdir="nocorrect mkdir"
alias mv="nocorrect mv"
alias sudo="nocorrect sudo"
alias brew="nocorrect brew"

alias vi="vim"

alias ssh="TERM=xterm-256color ssh"


########################################################################
# node
########################################################################

alias gio="npx gitignore-dot-io";
alias json-serve="npx json-server";
alias serve="npx http-server";
alias node-box='docker run --rm -v $PWD:/src -w /src -u node -it node:carbon-alpine /bin/sh'


########################################################################
# home
########################################################################

alias home="git --work-tree=$HOME --git-dir=$HOME/.home.git"
