[submodule ".local/share/base16-shell"]
	path = .local/share/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".local/share/sandboxd"]
	path = .local/share/sandboxd
	url = git@github.com:benvan/sandboxd.git
[submodule ".local/share/zsh/zsh-autosuggestions"]
	path = .local/share/zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".local/share/zsh/zsh-syntax-highlighting"]
	path = .local/share/zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".local/share/zsh-completions"]
	path = .local/share/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
