"*":
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    fontFamily: "Source Code Pro"
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "wrap-guide"
      "welcome"
      "language-toml"
      "autoflow"
      "linter-scss-lint"
    ]
  welcome:
    showOnStartup: false
  "atom-material-ui":
    panelContrast: true
    altCmdPalette: true
    slimScrollbar: true
    depth: true
    disableAnimations: true
    accentColor: "Purple"
  linter:
    statusIconPosition: "Right"
    lintOnFly: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "tool-bar":
    position: "Left"
    iconSize: "16px"
  "mocha-test-runner":
    env: "test"
  react: {}
  autosave:
    enabled: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    lintOnEdit: false
  "linter-scss-lint": {}
  "merge-conflicts": {}
