"*":
  "atom-beautify":
    _analyticsUserId: "76311505-940d-45f7-9bed-ab533bac8ef9"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 255
        green: 213
        blue: 79
        alpha: 1
      accentColor:
        red: 162
        green: 136
        blue: 50
        alpha: 1
      predefinedColor: "Amber"
    fonts: {}
    panels:
      depth: true
      panelContrast: true
    tabs:
      compactTabs: true
      rippleAccentColor: true
      tabMinWidth: true
    treeView:
      compactList: true
      compactTreeView: true
    ui:
      panelContrast: true
      panelShadows: true
      slimScrollbar: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "wrap-guide"
      "welcome"
      "language-toml"
      "autoflow"
      "dev-live-reload"
      "linter-scss-lint"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    useShadowDOM: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    lintOnFly: false
    statusIconPosition: "Right"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    lintOnEdit: false
  "linter-scss-lint": {}
  "merge-conflicts": {}
  "mocha-test-runner":
    env: "test"
  react: {}
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
