"*":
  "atom-beautify":
    _analyticsUserId: "76311505-940d-45f7-9bed-ab533bac8ef9"
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general: {}
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js: {}
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "atom-material-ui":
    colors:
      abaseColor: "#ffd54f"
      accentColor: "#a28832"
      predefinedColor: "Amber"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "wrap-guide"
      "welcome"
      "language-toml"
      "autoflow"
      "dev-live-reload"
      "vim-mode"
      "bookmarks"
      "deprecation-cop"
      "incompatible-packages"
      "language-less"
      "language-perl"
      "language-php"
      "package-generator"
      "styleguide"
      "timecop"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "language-babel":
    allowLocalOverride: true
    autoIndentJSX: true
  linter:
    lintOnFly: false
    statusIconPosition: "Right"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    lintOnEdit: false
  "linter-scss-lint": {}
  "merge-conflicts": {}
  "mocha-test-runner":
    env: "test"
  react: {}
  "tool-bar":
    iconSize: "12px"
    position: "Left"
  "tree-view": {}
  welcome:
    showOnStartup: false
